<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section>
	<!--	<h1>This is about page</h1>
		<h2>Here we are going to write about Smart Contact Manager</h2> !-->
		
		<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <p class="text-blk heading">
      SMART CONTACT MANAGER
    </p>
    <p class="text-blk subHeading">
      A smart contact manager that stores contacts in the cloud and offers accessible information anywhere is a promising concept with several potential benefits:
    <ul style="margin-top: -50px;">
    <li>Accessibility: Access your contacts from any device with an internet connection, eliminating the limitations of physical address books or local storage.</li>
    <li>Synchronization: Keep your contacts up-to-date across all devices automatically, ensuring consistency and eliminating manual syncing hassle.</li>
    <li>Backup and Recovery: Cloud storage protects your contacts against device loss or damage, providing peace of mind and easy recovery.</li>
    <li>Advanced Features: Smart contact managers often offer additional features like:
		<ul>
			<li>Contact organization and tagging for efficient searching and grouping.</li>
			<li>Integration with communication tools like email and messaging for faster interactions.</li>
			<li>Collaboration and sharing options to manage shared contacts with others.</li>
			<li>Advanced search and filtering functionalities to easily find specific information.</li>
			<li>Integration with other productivity tools for streamlined workflows.</li>
		</ul>
	</li>
</ul>
  
    </p>
    <div class="social-icons-container">
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
      </a>
    </div>
  </div>
</div>

	</section>
</body>
</html>